<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="dao.Ps_etps_mapper">
    <select id="select_etpsinfo" parameterType="java.util.HashMap" resultType="pojo.EtpsInfo">
        SELECT * FROM etps_info
        <if test="iEtps_id !=null">
            WHERE iEtps_id=#{iEtps_id}
        </if>
        <if test="iAgent_id !=null">
            WHERE iAgent_id=#{iAgent_id}
        </if>
        <if test="etps_name !=null">
            WHERE etps_name=#{etps_name}
        </if>
    </select>
    <update id="update_etpsinfo" parameterType="pojo.EtpsInfo">
        UPDATE etps_info SET
        <if test="contact_name !=null">
            contact_name=#{contact_name},
        </if>
        <if test="contact_mail !=null">
            contact_mail=#{contact_mail},
        </if>
        <if test="contact_address !=null">
            contact_address=#{contact_address},
        </if>
        <if test="contact_phone !=null">
            contact_phone=#{contact_phone},
        </if>
        <if test="etps_name !=null">
            etps_name=#{etps_name},
        </if>
        <if test="etps_login_name !=null">
            etps_login_name=#{etps_login_name},
        </if>
        <if test="etps_login_password !=null">
            etps_login_password=#{etps_login_password},
        </if>
        <if test="iAgent_name !=null">
            iAgent_name=#{iAgent_name},
        </if>
        <if test="status !=null">
            status=#{status},
        </if>
        <if test="modify_time !=null">
            modify_time=#{modify_time},
        </if>
        <if test="alipay_appid !=null">
            alipay_appid=#{alipay_appid},
        </if>
        <if test="alipay_pid !=null">
            alipay_pid=#{alipay_pid},
        </if>
        <if test="alipay_token !=null">
            alipay_pid=#{alipay_pid},
        </if>
        <if test="alipay_account !=null">
            alipay_account=#{alipay_account},
        </if>
        <if test="alipay_account_name !=null">
            alipay_account_name=#{alipay_account_name},
        </if>
        <if test="alipay_rate !=null">
            alipay_rate=#{alipay_rate},
        </if>
        <if test="check_status !=null">
            check_status=#{check_status},
        </if>
        <if test="check_desc !=null">
            check_desc=#{check_desc}
        </if>
        WHERE iEtps_id=#{iEtps_id}
    </update>
    <insert id="insert_etpsinfo" parameterType="pojo.EtpsInfo">
        INSERT INTO etps_info (iAgent_id,iAgent_name,contact_name,contact_phone,contact_address,contact_mail,etps_name,etps_login_name,etps_login_password,
        status,create_time,alipay_token,alipay_account,alipay_account_name,alipay_rate,check_status)
        VALUES
        (#{iAgent_id},#{iAgent_name},#{contact_name},#{contact_phone},#{contact_address},#{contact_mail},#{etps_name},#{etps_login_name},
        #{etps_login_password},#{status},#{create_time},#{alipay_token},#{alipay_account},
        #{alipay_account_name},#{alipay_rate},#{check_status})
    </insert>
    <delete id="del_etpsinfo" parameterType="java.util.HashMap">
        DELETE FROM etps_info WHERE
        <if test="iAgent_name !=null">
            iAgent_name=#{iAgent_name}
        </if>
        <if test="iEtps_id !=null">
            iEtps_id=#{iEtps_id,jdbcType=VARCHAR}
        </if>
    </delete>
    <select id="select_checked_all" parameterType="java.lang.String" resultType="java.lang.String">
       SELECT count(*) as total,check_status FROM etps_info WHERE check_status=#{check_status}
    </select>
    <select id="select_use_all" resultType="java.lang.String">
        SELECT count(*) as total FROM etps_info WHERE status='已开通'
    </select>
    <select id="select_count_all" resultType="java.lang.String">
        SELECT count(*) as total FROM etps_info
    </select>
</mapper>